{% load static %}
{% include 'base/navbar.html' %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Code Syntax Highlighter</title>
	<link rel="stylesheet" type="text/css" href="{% static 'code-syntax-highlight/main.css' %}">
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>
<body>
	<div class='center-container'>
		<div class='title-container'>
			<h1 class='title'>Code Syntax Highlighter</h1>
			<h3 class='subtitle'>Scroll down for themes preview</h3>
		</div>
		<div class='progress-bar-wrapper'>
			<ul class='progressbar'>
				<li id='0' class='active'>Upload<br>Code</li>
				<li id='1'>Select Lexer &<br>Theme</li>
				<li id='2'>Select Code<br>Formatter</li>
				<li id='3'>Export<br>Code</li>
			</ul>
		</div>
		<div id='step1-container' class='step-container show'>
			<input type='file' name='file' id='file' class='file-upload'>
			<button class='file-upload-btn' id='file-btn'>Choose File</button>
		</div>
		<div id='step2-container' class='step-container hide'>
			<select class='combobox' id='lexer-selector'>
				<option value='none'>Select Lexer</option>
				{% for lexer in lexer_list%}
					<option value='{{ lexer.1.0 }}'>{{ lexer.0 }}</option>
				{% endfor %}
			</select>
			<select class='combobox' id='style-selector'>
				<option value='none'>Select Theme</option>
				{% for style in style_list%}
					<option value='{{ style }}'>{{ style }}</option>
				{% endfor %}
			</select>
		</div>
		<div id='step3-container' class='step-container hide'>
			Coming Soon. Just proceed to next step =)
		</div>
		<div id='step4-container' class='step-container hide'>
			<a href='' id='file-download-btn' class='file-download-btn'>Download File</a>
		</div>
		<button type='submit' name='submit' id='submit' class='submit-btn'><span data-feather='chevron-right'></span></button>
		
	</div>
	<div class='previews-container'>
		{% for theme in preview %}
			<iframe src='{% url "code-syntax-highlight:get-preview" theme=theme %}' class='preview-frame'></iframe>
		{% endfor %}
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		var current_step = 1;
		var can_proceed = false;
		$('#file-btn').on('click', function() {
		    $('#file').trigger('click')
		});
		$("#file").change(function() {
		    $("#file-btn").text(this.files[0].name);
		    can_proceed = true
		});
		$('#submit').on('click', function() {
		    if (current_step < 5 && can_proceed) {
		        $('.progressbar').children('#' + current_step.toString()).addClass('active');
		        $('#step' + (current_step).toString() + '-container').removeClass('show').addClass('hide');
		        current_step++;
		        $('#step' + (current_step).toString() + '-container').addClass('show');
		        if (current_step == 4) {
		            var file = document.getElementById('file').files[0];
		            if (file) {
		                var reader = new FileReader();
		                reader.readAsText(file, "UTF-8");
		                reader.onload = function(evt) {
		                    $.ajax({
		                        url: 'code-syntax-highlight/get-formatted-code',
		                        type: 'POST',
		                        data: {
		                            'text': evt.target.result,
		                            'lexer': document.getElementById('lexer-selector').value,
		                            'style': document.getElementById('style-selector').value
		                        },
		                        success: function(data) {
		                            window.URL = window.webkitURL || window.URL;
		                            var file = new Blob([data])
		                            var a = document.getElementById('file-download-btn');
		                            a.href = window.URL.createObjectURL(file);
		                            a.download = document.getElementById('file').files[0].name + '.html';
		                            document.getElementById('submit').style.display = 'none'
		                        }
		                    })
		                }
		                reader.onerror = function(evt) {
		                    console.log("error reading file");
		                }
		            }
		        }
		    }
		})
	</script>
	<script type="text/javascript">
		feather.replace()
	</script>
</body>
</html>