button:active, button:focus {
	outline: none;
}

.footer {
	width: 100%;
	background: rgb(20, 20, 20);
	min-height: 50vh;
	position: relative;
	margin-top: -1px
}

.footer-section {
	margin: 0 40px
}

.footer-grid {
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: center;
	margin-top: 60px;;
	text-align: left
}

.footer-section-title {
	font-family: 'Poppins';
	font-weight: 500;
	color: rgb(255, 200, 0);
	font-size: 20px;
	margin-bottom: 15px
}

.footer-section-list {
	list-style: none;
	color: rgb(180, 180, 180);
	font-size: 15px;
	font-family: "Poppins";
	font-weight: 300;
	padding: 0
}

.footer-section-list li {
	margin-bottom: 10px
}

.footer-contact-button {
	width: 150px;
	background: none;
	font-family: 'Poppins';
	padding: 0;
	height: 35px;
	font-weight: 400;
	border: 2px solid white;
	margin-top: 5px;
	margin-bottom: 20px;
	position: relative;
	transition: 0.3s
}

.bg {
	width: 0;
	white-space: nowrap;
	height: 108%;
	background-color: white;
	margin-top: -2px;
	margin-left: -1px;
	overflow: visible;
}

.text {
	color: white;
	mix-blend-mode: difference;
	width: 148px;
	height: 35px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center
}

@keyframes footer-slideIn {
	0% {
		width: 0px;
	} 
	100% {
		width: 148px;
	}
}

@keyframes footer-slideOut {
	0% {
		width: 148px;
	} 
	100% {
		width: 0;
	}
}

.footer-socialmedia-list-container ul {
	padding-left: 0;
	padding-top: 50px;
	display: flex;
	justify-content: center;
	margin: 0
}

.footer-socialmedia-list-container ul > li {
	display: inline;
	margin: 0 20px;
	cursor: pointer;
}

.footer-socialmedia-icon {
	color: white;
	width: 30px;
	height: 30px;
	stroke-width: 1.5px;
}

.footer-socialmedia-list-container ul > li svg {
	transition: 0.3s
}

.footer-socialmedia-list-container ul > li:hover svg {
	color: rgb(255, 200, 0)
}

.copyright {
	color: rgb(180, 180, 180);
	text-align: center;
	font-size: 12px;
	margin-top: 70px;
	font-family: 'Poppins';
	font-weight: 300;
	padding-bottom: 20px
}

@media all and (max-width: 850px) {
	.footer-grid {
		grid-template-columns: repeat(2, auto)
	}
}

@media all and (max-width: 450px) {
	.footer-grid {
		grid-template-columns: auto
	}
	.footer-section {
		margin: 0;
		margin-bottom: 30px;
		padding: 0
	}
}