@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Lato:wght@500;700&family=Roboto:wght@300;500;700&Montserrat:wght@600&display=swap');

body {
	margin: 0;
	padding: 0;
}

.cb-nav.non-alpha { 
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0 1px 2px #ddd;
	transition: background-color 0.5s ease 0s, width 0.5s ease 0s, height 0.5s ease 0s;
}

.cb-nav {
	background: rgba(255,255,255,0);
	transition: background-color 0.5s ease 0s, width 0.5s ease 0s, height 0.5s ease 0s;
	height: 100px;
	width: 100%;
}

.navbrand-wrapper {
	height: 100px;
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: left;
	align-items: center;
}

.navbar-brand {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 2.5vw !important;
	font-weight: 500;
	transition: color 0.5s ease 0s, margin-top 0.5s ease 0s, margin-bottom 0.5s ease 0s;
	position: relative;
	display: inline-block;
	padding: 0 !important;
	margin-left: 20px
}

.navbar-brand:hover {
	color: white;
}

.navbar-brand.non-alpha { 
	color: black;
	transition: color 0.5s ease 0s, margin-top 0.5s ease 0s, margin-bottom 0.5s ease 0s;
}

.collapse-btn {
	background: none;
	border-style: none;
	position: relative;
	display: none;
	height: 32px;
	margin-left: 20px
}

.collapse-btn:focus {
	border-style: none;
	outline-style: none;
}

.collapse-icon.non-alpha {
	color: rgb(20, 20, 20)
}

.collapse-icon {
	color: white;
	width: 32px;
	height: 32px
}

.navbar-right {
	margin-right: 4em;
	margin-top: 0.4em;
	transition: margin-top 0.5s ease 0s
}

.navbar-right.non-alpha {
	margin-top: 0.1em;
	transition: margin-top 0.5s ease 0s
}

.nav-signup-btn {
	text-decoration: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	margin-left: 20px;
	background-color: rgba(255, 255, 255, 0);
	padding: 15px 30px;
	border-radius: 5px;
	border: 2px solid white;
	padding-bottom: 16px;
	transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
}

.nav-signup-btn:hover {
	background: white;
	color: black;
	transition: 0.2s;
}

.nav-signup-btn.non-alpha {
	border-width: 2px;
	background-color: black;
	color: white;
	transition: background-color 0.5s ease 0s;
}

.homenav-item {
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	margin-top: 0.35em;
	position: relative;
	transition: 0.2s;
}

.homenav-item-container li {
	margin: 0 20px;
}

.homenav-item-container {
	transition: margin-top 0.5s ease 0s;
	display: flex;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%
}

.homenav-item-container.non-alpha {
	margin-top: 0.1em;
	transition: margin-top 0.5s ease 0s
}

.homenav-item.non-alpha {
	color: black;
	margin-top: 0.2em;
	transition: color 0.5s ease 0s, margin-top 0.5s ease 0s
}

.homenav-item:after {
	content:'';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -5;
	left: 0;
	background-color: white;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s;
}
.homenav-item:hover {
  color: white;
}
.homenav-item:hover::after {
	transform-origin: bottom left;
	transform: scaleX(1);
}

.login-link {
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-decoration: none;
	font-size: 24px;
	transition: color 0.5s ease 0s;
	display: block;
	font-weight: 500;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 60px
}

.login-link:hover {
	color: #DDDDDD;
	transition: 0.2s;
}

.login-link.non-alpha { 
	color: black;
	transition: color 0.5s ease 0s;
}

@media all and (max-width: 1441px) {
	.homenav-item-container {
		display: none !important
	}
	.nav-expand.homenav-item-container {
		display: initial !important;
	}
	.nav-expand.cb-nav {
		height: 100%;
		width: 100%;
		background: white;
	}
	.nav-expand.navbar-brand {
		color: rgb(20, 20, 20);
	}
	.collapse-btn {
		display: inline-block;
	}
	.nav-expand.collapse-icon {
		color: rgb(20, 20, 20)
	}
	.nav-expand.homenav-item {
		color:rgb(20, 20, 20)
	}
	.nav-expand.homenav-item-container li {
		margin-top: 30px;
	}
}

@media all and (max-width: 901px) {
	.login-link,.nav-signup-btn {
		display: none !important;
		visibility: hidden
	}
	.navbar-brand {
		font-size: 4vw !important;
	}
}

@media all and (max-width: 501px) {
	.navbar-brand {
		font-size: 150% !important;
	}
}