{% load static %}
{% include 'base/navbar.html' %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Covid 19 Statistic</title>
	<link rel="stylesheet" type="text/css" href="{% static 'covid19stat/main.css' %}">
	<link rel="stylesheet" href="https://pagecdn.io/lib/perfect-scrollbar/1.5.0/css/perfect-scrollbar.min.css">
	<script src="https://d3js.org/d3.v6.min.js"></script>
	<script type="text/javascript" src='https://cdn.jsdelivr.net/npm/underscore@1.12.0/underscore-min.js'></script>
	<script type="text/javascript" src="{% static 'covid19stat/js/gridviewscroll.js' %}"></script>
	<script type="text/javascript" src="https://pagecdn.io/lib/perfect-scrollbar/1.5.0/perfect-scrollbar.min.js"></script>
	<script type="text/javascript">
		var gridViewScroll = null;
		window.onload = function () {
			document.getElementsByClassName('table-container')[0].visibility = "hidden";
			var options = new GridViewScrollOptions();
			options.elementID = "result-table";
			options.width = 920;
			options.height = 500;
			options.freezeColumn = true;
			options.freezeFooter = false;
			options.freezeColumnCssClass = "GridViewScrollItemFreeze";
			options.freezeColumnCount = 1;

			gridViewScroll = new GridViewScroll(options);
			gridViewScroll.enhance();
			document.getElementsByClassName('table-container')[0].style.visibility = "visible";
			const ps = new PerfectScrollbar('#result-table_Content_Fixed', {
				wheelSpeed: 1,
				wheelPropagation: true,
				maxScrollbarLength: 500,
				swipeEasing: false
			});
		}
	</script>
</head>
<body>
	<div class='center-container'>
		<div class='overview-card' id='recovered'>
			<div class='number'>{{ table.0.2 }}</div>
			<div class='title'>Total Recovered</div>
		</div>
		<div class='overview-card' id='total'>
			<div class='number'>{{ table.0.0 }}</div>
			<div class='title'>Total Cases</div>
		</div>
		<div class='overview-card' id='death'>
			<div class='number'>{{ table.0.1 }}</div>
			<div class='title'>Total Death</div>
		</div>
	</div>
	<div class='table-container'>
		<table cellspacing="0" id="result-table" style="width:100%;border-collapse:collapse;">
			<tr class="GridViewScrollHeader">
				<th>#</th>
				<th>Country, Other</th>
				<th>Total Cases</th>
				<th>New Cases</th>
				<th>Total Deaths</th>
				<th>New Deaths</th>
				<th>Total Recovered</th>
				<th>New Recovered</th>
				<th>Active Cases</th>
				<th>Serious, Critical</th>
				<th>Tot&nbsp; Cases/1M pop</th>
				<th>Deaths/1M pop</th>
				<th>Total Tests</th>
				<th >Tests/1M pop
				<th>Population</th>
				<th>Continent</th>
				<th>1 Case every X ppl</th>
				<th>1 Death every X ppl</th>
				<th>1 Test every X ppl</th>
			</tr>
			{% for row in table.1 %}
				<tr class="GridViewScrollItem hover-row">
					{% for cell in row %}
						
						<td>
							{% if cell %}
								{{ cell }}
							{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</div>  
	<script>
		var margin = {top: 0, right: 0, bottom: 10, left: 0}, width = 200 - margin.left - margin.right, height = 100 - margin.top - margin.bottom;
    	var x = d3.scaleTime().range([0, width]);
        var y = d3.scaleLinear().range([height, 0]);
        var valueline = d3.line().x(function(d) { return x(d[0]); }).y(function(d) { return y(d[1]); });
        var svg = d3.select("#total").append("svg").attr("width", width + margin.left + margin.right).attr("height", height + margin.top + margin.bottom).style("margin-top", '50px').append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");
		var valueline = d3.line().x(function(d) { return x(d[0]); }).y(function(d) { return y(d[1]); });
		var data = _.zip(_.range(eval({{ graph.0 }}).length), eval({{ graph.0 }}))
		x.domain(d3.extent(data, function(d) { return d[0]; }));
		y.domain([0, d3.max(data, function(d) { return d[1]; })]);
		svg.append("path").data([data]).attr("class", "line").attr("d", valueline);

		var margin = {top: 0, right: 0, bottom: 10, left: 0}, width = 200 - margin.left - margin.right, height = 100 - margin.top - margin.bottom;
    	var x = d3.scaleTime().range([0, width]);
        var y = d3.scaleLinear().range([height, 0]);
        var valueline = d3.line().x(function(d) { return x(d[0]); }).y(function(d) { return y(d[1]); });
        var svg = d3.select("#recovered").append("svg").attr("width", width + margin.left + margin.right).attr("height", height + margin.top + margin.bottom).style("margin-top", '50px').append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");
		var valueline = d3.line().x(function(d) { return x(d[0]); }).y(function(d) { return y(d[1]); });
		var data = _.zip(_.range(eval({{ graph.1 }}).length), eval({{ graph.1 }}))
		x.domain(d3.extent(data, function(d) { return d[0]; }));
		y.domain([0, d3.max(data, function(d) { return d[1]; })]);
		svg.append("path").data([data]).attr("class", "line").attr("d", valueline);

		var margin = {top: 0, right: 0, bottom: 10, left: 0}, width = 200 - margin.left - margin.right, height = 100 - margin.top - margin.bottom;
    	var x = d3.scaleTime().range([0, width]);
        var y = d3.scaleLinear().range([height, 0]);
        var valueline = d3.line().x(function(d) { return x(d[0]); }).y(function(d) { return y(d[1]); });
        var svg = d3.select("#death").append("svg").attr("width", width + margin.left + margin.right).attr("height", height + margin.top + margin.bottom).style("margin-top", '50px').append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");
		var valueline = d3.line().x(function(d) { return x(d[0]); }).y(function(d) { return y(d[1]); });
		var data = _.zip(_.range(eval({{ graph.2 }}).length), eval({{ graph.2 }}))
		x.domain(d3.extent(data, function(d) { return d[0]; }));
		y.domain([0, d3.max(data, function(d) { return d[1]; })]);
		svg.append("path").data([data]).attr("class", "line").attr("d", valueline);
	</script>
</body>
</html>