{% load static %}
{% load getdatetime %}

<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'base/head.html' %}
		<link rel="stylesheet" type="text/css" href='{% static "base/navbar.css" %}'>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<link rel="stylesheet" type='text/css' href='{% static "home/css/main.css" %}'>
 	</head>
	<body>
		<div id="t"></div>
		{% include 'base/navbar.html' %}
		<div class='top-wrapper'>
			<div class='top-container'>
				<div class='subtitle top-title'>
					<p class='subtitle-text'>Hey guys! I'm</p>
				</div>
				<div class='title-wrapper'>
					<p class='title-text'></p>
					<div class='title-seperator'></div>
				</div>
				<div class='subtitle'>
					<p class='subtitle-text'>A 15 years old guy who can do the jobs with unimaginable speed and quality, and enjoy learning new skills as time goes by.</p>
				</div>
				<a href='/projects' class='btn-mywork'>SEE MY WORKS</a>
				<div class='footer-socialmedia-list-container top-socialmedia-list'>
					<ul>
						<li><a href='https://github.com/melvinchia3636' target="_blank"><span data-feather='github' class='footer-socialmedia-icon'></span></a></li>
						<li><a href='https://www.youtube.com/channel/UCsSf5dUsiQYfEucaJlusXng' target="_blank"><span data-feather='youtube' class='footer-socialmedia-icon'></span></a></li>
						<li><a href='https://facebook.com/TheSillyCoder' target="_blank"><span data-feather='facebook' class='footer-socialmedia-icon'></span></a></li>
						<li><a href='' target="_blank"><span data-feather='linkedin' class='footer-socialmedia-icon'></span></a></li>
						<li><a href='' target="_blank"><span data-feather='twitter' class='footer-socialmedia-icon'></span></a></li>
					</ul>
				</div>
			</div>
			<div class='btn-see-more'>
				<a>Scroll down</a>
				<div></div>
			</div>
		</div>
		<div class='section-wrapper'>
			<h2 class='section-title'>INTRODUCTION</h2>
			<div class='section-title-seperator'></div>
			<div class='section-container'>
				<div class='section-numbers-wrapper'>
					<div class='numbers-container'>
						<h3>50+</h3>
						<p>PROJECTS</p>
					</div>
					<div class='numbers-container'>
						<h3>2 yrs</h3>
						<p>EXPERIENCE</p>
					</div>
					<div class='numbers-container'>
						<h3>10+</h3>
						<p>CUSTOMERS</p>
					</div>
					<div class='numbers-container'>
						<h3>1</h3>
						<p>PORTFOLIO</p>
					</div>
					<div class='numbers-container'>
						<h3>100+</h3>
						<p>LIKE-MINDED<br/>FRIENDS</p>
					</div>
					<div class='numbers-container'>
						<h3>3000+</h3>
						<p>FACEBOOK LIKES</p>
					</div>
				</div>
				<div class='section-desc-wrapper'>
					<h3>ABOUT ME</h3>
					<div id='about-me' class='section-desc-container'><p>
						A full stack web developer, who loves designing UI, and always <span class='highlight'>willing to learn new stuff</span>. A guy who knows the fundamental concepts of UI/UX designing, and able to create decent looking webpage. 
						<br></br>
						A guy who can deliver quality works with <span class='highlight'>unimaginable speed</span>. A 15 years old teenager who has his own dream, willing to create amazing projects. 
						<br/></br/>
						A person who believe that he can contribute to the world. A guy who has <span class='highlight'>countless project ideas</span> waiting to be implemented. A guy who think about coding 24 hours a day. 
					</p></div>
					<a href='#' class='btn-mywork'>GET IN TOUCH</a>
				</div>
			</div>
		</div>
		<div class='section-wrapper'>
			<h2 class='section-title'>SERVICES</h2>
			<div class='section-title-seperator'></div>
			<div class='section-container card-wrapper'>
				<div class='section-card-container'>
					<span data-feather='database' class='service-icon'></span>
					<h3 class='service-name'>WEB SCRAPING</h3>
					<p class='service-desc'>Scrape data from Internet providing large amount of data for data analyst to do their job</p>
					<a class='btn-learn-more'>
						Learn More
						<div class='btn-learn-more-line'></div>
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.75 3.33334L4.25 7.5L0.75 11.6667" stroke="#FFC800" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</a>
				</div>
				<div class='section-card-container'>
					<span data-feather='pen-tool' class='service-icon'></span>
					<h3 class='service-name'>UI DESIGNING</h3>
					<p class='service-desc'>Create insane user interface design for website and desktop app with cool animations</p>
					<a class='btn-learn-more'>
						Learn More
						<div class='btn-learn-more-line'></div>
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.75 3.33334L4.25 7.5L0.75 11.6667" stroke="#FFC800" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</a>
				</div>
				<div class='section-card-container'>
					<span data-feather='server' class='service-icon'></span>
					<h3 class='service-name'>BACK-END</h3>
					<p class='service-desc'>Develop fully functional and easy-to-use backend system using Python Django framework</p>
					<a class='btn-learn-more'>
						Learn More
						<div class='btn-learn-more-line'></div>
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.75 3.33334L4.25 7.5L0.75 11.6667" stroke="#FFC800" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div class='section-wrapper'>
			<h2 class='section-title'>SKILLS</h2>
			<div class='section-title-seperator'></div>
			<div class='section-container skill-wrapper'>
				<div class='skill-container'>
					<h3 class='skill-name'>HTML - 80%</h3>
					<div class='skill-bar'>
						<div class='skill-bar-inner' skill='80'></div>
					</div>
				</div>
				<div class='skill-container'>
					<h3 class='skill-name'>CSS - 70%</h3>
					<div class='skill-bar'>
						<div class='skill-bar-inner' skill='70'></div>
					</div>
				</div>
				<div class='skill-container'>
					<h3 class='skill-name'>Javascript - 40%</h3>
					<div class='skill-bar'>
						<div class='skill-bar-inner' skill='40'></div>
					</div>
				</div>
				<div class='skill-container'>
					<h3 class='skill-name'>Python - 90%</h3>
					<div class='skill-bar'>
						<div class='skill-bar-inner'skill='90'></div>
					</div>
				</div>
			</div>
		</div>
		<button class='btn-go-up'>
			<span data-feather='chevron-up'></span>
		</button>
		{% include 'base/footer.html' %}
		
		<script src="//code.iconify.design/1/1.0.6/iconify.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
		<script>
			$('.btn-go-up').css('top', `calc(${window.innerHeight}px - 3em - 20px)`)
			$('.top-wrapper').css('height', window.innerHeight+'px')

			$(document).ready(function(){
				var scrollbar = Scrollbar.init($('#t')[0])
				$('body').addClass('loaded')
				if(!navigator.userAgent.toLowerCase().includes('mobile')) {
					scrollbar = Scrollbar.init($('body')[0], {
						syncCallbacks: true,
						damping: 0.1
					})
					$('.btn-see-more').click(function(){
						scrollbar.scrollIntoView(document.querySelector('.section-wrapper'), {
							offsetTop: -60
						})
					})
					document.querySelector('.btn-go-up').addEventListener('click', function(){
						scrollbar.scrollIntoView(document.querySelector('.top-wrapper'))
					})
					scrollbar.addListener(onScrollCallback)
				
				} else {
					$('body, html').css({height: 'auto', overflow: 'scroll'})
					$('.btn-see-more').click(function(){
						document.querySelector('.section-wrapper').scrollIntoView()
					})
					document.querySelector('.btn-go-up').addEventListener('click', function(){
						document.body.scrollTop = 0;
  						document.documentElement.scrollTop = 0;
					})
					window.addEventListener('scroll', onScrollCallback)
				}
				
				function onScrollCallback({offset}){
					var page_top = scrollbar.scrollTop;
					if (page_top > 300) {
						$('.go-up').css('opacity', 1)
					} else {
						$('.go-up').css('opacity', 0)
					}
					$('.cb-nav').css('top', offset.y + 'px')
					$('.btn-go-up').css('top', `calc(${offset.y + 'px'} + ${window.innerHeight}px - 3em - 20px)`)
				}

				$('.btn-see-more').click(function(){
					window.scrollIntoView(document.querySelector('.section-wrapper'))
					scrollbar.scrollIntoView(document.querySelector('.section-wrapper'), {
						offsetTop: -60
					})
				})
				feather.replace()

				new Typed('.title-text', {
					strings: ['Melvin Chia', 'The Silly Coder', 'Web Developer', 'Data Scraper'],
					typeSpeed: 40,
					loop: true,
					backSpeed: 40,
					backDelay: 1200,
					cursorChar: '_',
					startDelay: 1000,
				});
				$('.skill-bar-inner').each(function(){
					$(this).css('width', $(this).attr('skill')+'%')
				})
			});

			$('.btn-mywork').hover(function(){
				$('.btn-mywork .bg').css('animation', 'see-work-slideIn 0.5s cubic-bezier( 0.16, 0.61, 0.08, 1 ) 0s normal forwards')
			}, function(){
				$('.btn-mywork .bg').css('animation', 'see-work-slideOut 0.5s cubic-bezier( 0.16, 0.61, 0.08, 1 ) 0s normal forwards')
			})
		</script>
	</body>
</html>
