@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;800&family=Poppins:wght@200;300;400;500;600&family=Lato:wght@500;700&family=Roboto:wght@300;500;700&family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$c-main: #141414;
$c-second: rgb(255, 200, 0);

@mixin center-content() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	 
	100% {
		opacity: 1;
	}
}

@keyframes slideIn {
	100% {
		transform: translateY(0%);
	}
}

@keyframes see-work-slideIn {
	0% {
		width: 0px;
	} 
	100% {
		width: 238px;
	}
}

@keyframes see-work-slideOut {
	0% {
		width: 238px;
	} 
	100% {
		width: 0;
	}
}

@keyframes seperatorExpand {
	0% {
		width: 0
	}
	100% {
		width: 50px
	}
}

body, html {
	width: 100%;
	height: -webkit-fill-available;
	overflow: hidden
}

a:hover {
	color: white
}

#control-height {
    height: 100vh;
    width: 0;
    position: absolute;
}

.cb-nav {
	transform: translateY(-120px)
}

.top {
	&-wrapper {
		@include center-content();
		background: $c-main;
		position: relative;
		width: 100%;
		flex-direction: column;
	}
	&-container {
		width: 100vw;
		text-align: center
	}

	&-title {
		text-transform: uppercase;
		padding-bottom: 0 !important;

		& .subtitle-text {
			transform: translateY(120px)
		}
	}
}

.title {
	&-wrapper {
		font-size: 3em;
		color: white;
		font-family: 'Poppins';
		line-height: 50px;
		overflow: hidden;
		font-weight: 500;
	}

	&-text {
		transform: translateY(150%);
		margin-bottom: 20px;
		display: inline
	}

	&-seperator {
		width: 0;
		height: 6px;
		margin: 30px auto;
		background: $c-second;
		transition: 0.3s;

		&:hover {
			width: 100px;
		}
	}
}

.subtitle {
	font-size: 18px;
	color: white;
	font-family: 'Poppins';
	font-weight: 300;
	overflow: hidden;
	padding: 0 25%;
	padding-bottom: 30px;
	line-height: 26px;

	&-text {
		transform: translateY(-120%);
	}
}

.btn {
	&-mywork {
		text-decoration: none;
		width: 240px;
		background: none;
		font-family: 'Montserrat';
		padding: 0;
		height: 50px;
		font-weight: 600;
		font-size: 18px;
		border: 3px solid $c-second;
		margin-top: 10px;
		margin-bottom: 20px;
		display: inline-block;
		position: relative;
		opacity: 0;

		& .bg {
			background: $c-second
		}

		& .text {
			color: $c-second;
			width: 100%
		}

		& *:hover > * {
			color: $c-second
		}
	}

	&-see-more {
		text-align: center;
		position: absolute;
		bottom: 0;
		cursor: pointer;
		display: inline-block;
		margin: 0 auto;

		& a {
			color: white !important;
			font-family: 'Poppins';
			text-transform: uppercase;
			font-weight: 500;
		}

		& div {
			background: $c-second;
			width: 2px;
			height: 20px;
			margin: 10px auto;
			transition: 0.3s
		}

		&:hover div {
			height: 30px
		}
	}

	&-go-up {
		@include center-content();
		border: none;
		background: $c-second;
		position: fixed;
		width: 3em;
		height: 3em;
		top: calc(100vh - 3em - 20px);
		border-radius: 50%;
		right: 20px;
		z-index: 9999;
		box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.6);

		& svg {
			color: black;
			stroke-width: 2px
		}
	}
}

.top-socialmedia-list li {
	opacity: 0
}

body.loaded {
	.btn-mywork {
		animation: fadeIn 0.4s ease-in 1.5s forwards;
	}

	.title-text, .subtitle-text {
		animation: slideIn 0.5s cubic-bezier(0.54, 0.46, 0.54, 0.94) 1s forwards;
	}

	.title-seperator {
		animation: seperatorExpand 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s forwards
	}

	.cb-nav {
		animation: slideIn 0.5s cubic-bezier(0.54, 0.46, 0.54, 0.94) 0s forwards;
	}
	$count: 1;
	@for $i from -2 through 2 {
		.top-socialmedia-list li:nth-child(#{$count}) {
			animation: fadeIn 0.5s cubic-bezier(0.54, 0.46, 0.54, 0.94) #{abs($i) / 2 + 2}s forwards;
		}
		$count: $count + 1;
	}
}

.section {
	&-wrapper {
		width: 100%;
		min-height: 100vh;
		background: $c-main;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 60px;
		position: relative;
		margin-top: -1px;
	}

	&-title {
		color: white;
		font-family: 'Montserrat';
		margin: 0;
		margin-top: 100px;
		font-weight: 500;
		
		&-seperator {
			@extend .title-seperator;
			margin: 20px 0;
			height: 4px
		}
	}

	&-container {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 35% 55%;
		align-items: center;
		grid-column-gap: 10%;
		padding: 0 3rem;
		margin-top: 4rem;
	}
	
	&-image-container {
		width: 100%;
		height: 100%;
		position: relative;
		height: 460px;
		background: $c-main;
	}

	&-image-wrapper {
		position: relative;
		min-width: 200px;
		
		& .border {
			&-left {
				background: $c-second;
				width: 150px;
				height: 150px;
				position: absolute;
				top: -4px;
				left: -4px;
			}
			&-right {
				background: $c-second;
				width: 150px;
				height: 150px;
				position: absolute;
				bottom: -4px;
				right: -4px;
			}
		}
	}

	&-desc-wrapper {
		width: 100%;
		height: 100%;

		& h3 {
			font-family: 'Montserrat';
			font-size: 1.6em;
			font-weight: 500;
			color: white;
			margin-bottom: 1.4em
		}

		& p {
			font-family: 'Montserrat';
			font-size: 1em;
			font-weight: 400;
			line-height: 18px;
			color: rgb(226, 226, 226);
			display: inline;
			word-break: break-word;
			
			& .highlight {
				color: $c-second;
				font-weight: 500;
				word-break: break-word;
				white-space: nowrap;
			}
		}

		& .btn-mywork {
			margin-top:  2rem
		}
	}

	&-desc-container .typed-cursor {
		color: white;
		font-weight: 800;
		font-size: 1.3rem;
		line-height: 10px;
	}
}

@media (max-width: 1024px) {
	.subtitle {
		padding: 0 10%
	}
	.section {
		&-container {
			grid-template-columns: auto;
			padding: 0;
			grid-row-gap: 4rem
		}
	}
}

@media (max-width: 610px) {
	.top-socialmedia-list {
		display: none
	}
}

@media (max-width: 450px) {
	.title-wrapper {
		font-size: 2.5em
	}
}

@media (max-width: 375px) {
	.title-wrapper {
		font-size: 2.2em
	}
	.section-wrapper {
		padding: 20px
	}
	.subtitle {
		font-size: 0.8rem;
		line-height: 0.9rem
	}
}