@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;800&family=Poppins:wght@200;300;400;500;600&family=Lato:wght@500;700&family=Roboto:wght@300;500;700&family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideIn {
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideIn {
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes see-work-slideIn {
  0% {
    width: 0px;
  }
  100% {
    width: 238px;
  }
}

@keyframes see-work-slideIn {
  0% {
    width: 0px;
  }
  100% {
    width: 238px;
  }
}

@-webkit-keyframes see-work-slideOut {
  0% {
    width: 238px;
  }
  100% {
    width: 0;
  }
}

@keyframes see-work-slideOut {
  0% {
    width: 238px;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes seperatorExpand {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}

@keyframes seperatorExpand {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}

body, html {
  width: 100%;
  height: -webkit-fill-available;
  overflow: hidden;
  background: #141414;
}

a:hover {
  color: white;
}

#control-height {
  height: 100vh;
  width: 0;
  position: absolute;
}

.top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #141414;
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-container {
  width: 100vw;
  text-align: center;
}

.top-title {
  padding-bottom: 0 !important;
}

.top-title .subtitle-text {
  -webkit-transform: translateY(120px);
          transform: translateY(120px);
}

.title-wrapper {
  font-size: 3em;
  color: white;
  font-family: 'Poppins';
  line-height: 50px;
  overflow: hidden;
  font-weight: 500;
}

.title-text {
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  margin-bottom: 20px;
  display: inline;
}

.title-seperator, .section-title-seperator {
  width: 0;
  height: 6px;
  margin: 30px auto;
  background: #ffc800;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.title-seperator:hover, .section-title-seperator:hover {
  width: 100px;
}

.subtitle {
  font-size: 18px;
  color: white;
  font-family: 'Poppins';
  font-weight: 300;
  overflow: hidden;
  padding: 0 25%;
  padding-bottom: 30px;
  line-height: 26px;
}

.subtitle-text {
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}

.btn-mywork {
  text-decoration: none;
  width: 240px;
  background: none;
  font-family: 'Montserrat';
  padding: 0;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  border: 3px solid #ffc800;
  margin-top: 10px;
  margin-bottom: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  opacity: 0;
  border-radius: 50px;
  color: #ffc800;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-mywork:hover {
  background: #ffc800;
  color: #141414;
}

.btn-see-more {
  text-align: center;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
}

.btn-see-more a {
  color: white !important;
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 500;
}

.btn-see-more div {
  background: #ffc800;
  width: 2px;
  height: 20px;
  margin: 10px auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-see-more:hover div {
  height: 30px;
}

.btn-go-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #ffc800;
  background: none;
  position: fixed;
  width: 3em;
  height: 3em;
  top: calc(100vh - 3em - 20px);
  border-radius: 50%;
  right: 30px;
  z-index: 9999;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9);
}

.btn-go-up svg {
  color: #ffc800;
  stroke-width: 2px;
}

.btn-learn-more {
  color: #ffc800;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Poppins;
  font-weight: 500;
  margin-top: 3em;
  position: absolute;
  bottom: 3em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-learn-more svg {
  margin-left: -3.5px;
}

.btn-learn-more:hover {
  color: #ffc800;
}

.btn-learn-more-line {
  width: 15px;
  height: 2.5px;
  border-radius: 2.5px;
  background: #ffc800;
  margin-left: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-learn-more:hover .btn-learn-more-line {
  width: 25px;
}

.top-socialmedia-list li {
  opacity: 0;
}

body.loaded .btn-mywork {
  -webkit-animation: fadeIn 0.4s ease-in 1.5s forwards;
          animation: fadeIn 0.4s ease-in 1.5s forwards;
}

body.loaded .title-text, body.loaded .subtitle-text {
  -webkit-animation: slideIn 0.5s cubic-bezier(0.54, 0.46, 0.54, 0.94) 1s forwards;
          animation: slideIn 0.5s cubic-bezier(0.54, 0.46, 0.54, 0.94) 1s forwards;
}

body.loaded .title-seperator, body.loaded .section-title-seperator {
  -webkit-animation: seperatorExpand 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s forwards;
          animation: seperatorExpand 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s forwards;
}

body.loaded .top-socialmedia-list li:nth-child(1) {
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.54, 0.46, 0.54, 0.94) 3s forwards;
          animation: fadeIn 0.5s cubic-bezier(0.54, 0.46, 0.54, 0.94) 3s forwards;
}

body.loaded .top-socialmedia-list li:nth-child(2) {
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.54, 0.46, 0.54, 0.94) 2.5s forwards;
          animation: fadeIn 0.5s cubic-bezier(0.54, 0.46, 0.54, 0.94) 2.5s forwards;
}

body.loaded .top-socialmedia-list li:nth-child(3) {
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.54, 0.46, 0.54, 0.94) 2s forwards;
          animation: fadeIn 0.5s cubic-bezier(0.54, 0.46, 0.54, 0.94) 2s forwards;
}

body.loaded .top-socialmedia-list li:nth-child(4) {
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.54, 0.46, 0.54, 0.94) 2.5s forwards;
          animation: fadeIn 0.5s cubic-bezier(0.54, 0.46, 0.54, 0.94) 2.5s forwards;
}

body.loaded .top-socialmedia-list li:nth-child(5) {
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.54, 0.46, 0.54, 0.94) 3s forwards;
          animation: fadeIn 0.5s cubic-bezier(0.54, 0.46, 0.54, 0.94) 3s forwards;
}

.section-wrapper {
  width: 100%;
  background: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3em 6em;
  position: relative;
  margin-top: -1px;
}

.section-wrapper .skill-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 700px;
}

.section-wrapper .card-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
}

.section-title {
  color: white;
  font-family: 'Montserrat';
  margin: 0;
  margin-top: 100px;
  font-weight: 500;
}

.section-title-seperator {
  margin: 20px 0;
  height: 4px;
}

.section-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
  margin-top: 4rem;
}

.section-numbers-wrapper {
  position: relative;
  min-width: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-gap: 4em;
}

.section-desc-wrapper {
  height: 100%;
  max-width: 600px;
}

.section-desc-wrapper h3 {
  font-family: 'Montserrat';
  font-size: 1.6em;
  font-weight: 500;
  color: white;
  margin-bottom: 1.4em;
}

.section-desc-wrapper p {
  font-family: 'Montserrat';
  font-size: 1em;
  font-weight: 400;
  line-height: 18px;
  color: #e2e2e2;
  display: inline;
  word-break: break-word;
}

.section-desc-wrapper p .highlight {
  color: #ffc800;
  font-weight: 500;
  word-break: break-word;
  white-space: nowrap;
}

.section-desc-wrapper .btn-mywork {
  margin-top: 2rem;
}

.section-desc-container .typed-cursor {
  color: white;
  font-weight: 800;
  font-size: 1.3rem;
  line-height: 10px;
}

.section-card-container {
  height: 350px;
  padding: 0 2em;
  margin: 0 30px;
  background: #141414;
  -webkit-box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.section-card-container .service-icon {
  width: 64px;
  height: 64px;
  stroke-width: 0.8px;
  color: #ffc800;
  margin-top: 2.5em;
}

.section-card-container .service-name {
  color: white;
  font-family: Montserrat;
  margin-top: 1.5em;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0;
}

.section-card-container .service-desc {
  color: #c8c8c8;
  font-family: Poppins;
  margin-top: .5em;
  text-align: center;
  font-weight: 300;
  line-height: 18px;
  font-size: .8em;
}

.skill-container {
  width: 100%;
  margin-bottom: 2em;
}

.skill-name {
  color: white;
  font-family: Poppins;
  font-size: 1.2em;
  text-align: left;
  font-weight: 400;
}

.skill-bar {
  max-width: 700px;
  height: 12px;
  background: #444;
  border-radius: 12px;
}

.skill-bar-inner {
  height: 12px;
  background: #ffc800;
  border-radius: 12px;
}

.numbers-container {
  font-family: 'Poppins';
  text-align: center;
}

.numbers-container h3 {
  font-size: 38px;
  color: white;
}

.numbers-container p {
  font-size: 18px;
  color: #ffc800;
}

@media (max-width: 1440px) {
  .section-numbers-wrapper {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    padding: 0;
    grid-row-gap: 4rem;
  }
}

@media (max-width: 1280px) {
  .section-numbers-wrapper {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    padding: 0;
    grid-row-gap: 4rem;
    margin-bottom: 2em;
  }
  .section-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .card-wrapper {
    -ms-grid-columns: auto !important;
        grid-template-columns: auto !important;
    grid-row-gap: 2em;
  }
}

@media (max-width: 1024px) {
  .subtitle {
    padding: 0 10%;
  }
}

@media (max-width: 610px) {
  .top-socialmedia-list {
    display: none;
  }
  .section-wrapper {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (max-width: 520px) {
  .section-numbers-wrapper {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    padding: 0;
    grid-row-gap: 4rem;
  }
}

@media (max-width: 450px) {
  .title-wrapper {
    font-size: 2.5em;
  }
  .card-wrapper {
    padding: 0 !important;
  }
  .skill-wrapper {
    padding: 0 10px;
  }
}

@media (max-width: 375px) {
  .title-wrapper {
    font-size: 2.2em;
  }
  .section-wrapper {
    padding: 10px;
  }
  .subtitle {
    font-size: 0.8rem;
    line-height: 0.9rem;
  }
  .numbers-container h3 {
    font-size: 30px;
  }
  .numbers-container p {
    font-size: 14px;
  }
}

@media (max-width: 305px) {
  .service-name {
    font-size: 1em !important;
  }
  .service-desc {
    font-size: .7em;
  }
}
/*# sourceMappingURL=main.css.map */