@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@200;300;400&family=Lato&display=swap);

body {
    background: #3AAFA9;
    overflow: none;
}
.table-container {
    width: 904px;
    height: 500px;
    margin: 50px auto;
    visibility: hidden;
    overflow: hidden;
    border-radius: 10px;
}

.GridViewScrollHeader th,
.GridViewScrollHeader td {
    padding: 25px;
    font-weight: 400;
    white-space: nowrap;
    border-right:;
    border-bottom: 1px solid #e6e6e6;
    background-color: #2B7A78;
    color: white;
    text-align: left;
    vertical-align: bottom;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}
.GridViewScrollItem td {
    padding: 25px;
    white-space: nowrap;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    color: #444;
    font-family: 'Lato';
    font-size: 15px;
}
.GridViewScrollItemFreeze td {
    padding: 25px;
    white-space: nowrap;
    border-right:;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    color: #444;
}

#result-table_Content_Fixed{
    position: relative;
}

.center-container {
    margin: 0px auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 30px;
    margin-top:200px;
}

.overview-card {
    background: white;
    width: 250;
    height: 300;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #2B7A78
}

.number {
    margin-top: 40px;
    font-family: 'Lato';
    font-size: 30px;
}

.title {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 15px;
}

.line {
   fill: none;
   stroke: #2B7A78;
   stroke-width: 2px;
}
.hover-row {
    color: white;
}