@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@200;300;400&family=Lato&display=swap);

body {
    background: #f6f5f7;
    overflow: none;
}

.cb-nav > * > *, .cb-nav > * > * > *{
	color: rgb(20, 20, 20)
}

.homenav-item:hover {
	color: rgb(20, 20, 20)
}

.homenav-item::after {
	background-color: rgb(20, 20, 20);
}

.login-link:hover {
	color: rgb(20, 20, 20)
}

.navbar-brand:hover {
	color: rgb(20, 20, 20)
}

h1 {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
    padding-top: 180px;
    font-size: 38px
}

h1 span {
    font-size: 15px
}

.table-container {
    position: relative;
    height: 500px;
    overflow: auto;
    width: 900px
}

.table-container {
    position: relative;
    height: 500px;
    overflow: auto;
    width: 900px;
    overflow-y: hidden
}

.table-container-wrapper {
    display: grid;
    margin: 50px 0;
    justify-content: center;
    align-items: center;
}

.table-wrapper {
    border-radius: 10px;
    overflow: hidden;
}

.result-table-header {
    table-layout:fixed;
    overflow: hidden
}

.hidden-header {
    line-height: 0px; 
}

.hidden-header th {
    height: 0px; 
    padding: 0 25px !important;
    overflow: hidden
}

#result-table th {
    padding: 25px;
    font-weight: 400;
    white-space: nowrap;
    border-bottom: 1px solid #e6e6e6;
    background-color: rgb(20, 20, 20);
    color: white;
    text-align: left;
    vertical-align: bottom;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}

#result-table td {
    padding: 25px;
    white-space: nowrap;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    color: #444;
    font-family: 'Lato';
    font-size: 15px;
}


.center-container {
    margin: 0px auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 30px;
    margin-top: 50px;
}

.overview-card {
    background: white;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #dddddd
}

.number {
    margin-top: 40px;
    font-family: 'Lato';
    font-size: 30px;
}

.title {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 15px;
}

.line {
   fill: none;
   stroke: rgb(20, 20, 20);
   stroke-width: 2px;
}
.hover-row {
    color: white;
}