@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&family=Lato&family=Montserrat:wght@400;500&display=swap');

body {
	background: #3AAFA9;
	text-align: center;
	overflow-x: hidden;
	width: 100%
}

a:active, a:focus {
    outline: none;
}

.title-container {
	text-align: center;
}

.title {
	font-family: 'Montserrat';
	margin-top: 180px;
	color: white;
	font-size: 3rem;
	font-weight: 500;
	display: inline-block;
}

.powered-by-text {
	font-size: 15px;
}

.powered-by-text-down {
	display: none;
	color: white;
	font-family: "Montserrat";
	font-size: 15px;
	text-align: left;
}

.search-box-icon {
	color: white;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.searchbox-container {
	border: 2px solid white;
	width: calc(70vw - 200px);
	margin: 50px auto;
	text-align: left;
	padding: 0 0 5px 15px;
	border-radius: 50px;
	position: relative;
	height: 50px;
}

.search-box {
	outline-style: none;
	outline: none;
	border: none;
	height: 40px;
	width: 85%;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 10px;
	margin-left: 10px;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	color: white;
	padding: 0 !important;
	position: absolute;
	top: 50%;
	left: 42px;
	transform: translateY(-50%);
}

/* all */
::-webkit-input-placeholder { /* Webkit */
   color: #FFFFFF;
}

:-moz-placeholder { /* Firefox 18-4 */
   color: #FFFFFF;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #FFFFFF;
}

:-ms-input-placeholder {  /*  IE10+  */
   color: #FFFFFF;
}

.table {
	display: grid;
	grid-gap: 10px;
	justify-content: center;
	margin: 50px 0;
}

.table-row {
	background-color: white;
	height: 80px;
	font-family: 'Montserrat';
	border-radius: 5px;
	width: calc(70vw - 200px);
	text-align: left;
	position: relative;
	font-weight: 300
}

.data-wrapper-big {
	height: 80px;
}

.data-wrapper-small {
	display: none;
}

.table-cell {
	font-size: 20px;
	padding: 0px !important;
}

.table-cell-name {
	position: absolute;
	top: 50%;
	left: 90px;
	transform: translateY(-50%);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: calc(70% - 150px);
}

.link-text {
	color: black;
	text-decoration: none;
	transition: 0.2s;
}

.link-wrapper {
	padding: 0 !important;
	width: 60vw;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.link-text:hover {
	color: #2b7a78;
}

.table-cell-count {
	white-space: nowrap;
	overflow: hidden;
}

.right-wrapper {
	position: absolute;
	top: 50%;
	right: 10px;
	width: 140px;
	transform: translateY(-50%)
}

.flag-icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 20px;
}

.table-row-index {
	height: 80px;
	font-family: 'Montserrat';
	width: 50vw;
	text-align: left;
	position: relative;
}

.alphabetic-index {
	position: absolute;
	left: 20px;
	top: 80%;
	transform: translateY(-50%);
	color: white;
	text-decoration: none;
	font-weight: 600;
}

@media all and (max-width: 1281px) {
	.table-row {
		width: calc(100vw - 150px)
	}
	.searchbox-container {
		width: calc(100vw - 150px);
		height: 50px;
	}
}

@media all and (max-width: 701px) {
	.table {
		grid-gap: 5px;
	}
	.table-row {
		height: 50px;
		width: calc(100vw - 150px)
	}
	.flag-icon {
		top: 50%;
		left: 10px;
	}
	.data-wrapper-big {
		width: 35vw;
		height: 50px;
	}
	.table-cell-name {
		top: 50%;
		left: 60px;
		transform: translateY(-50%);
		width: 40%;
		font-size: 15px;
	}
	.table-cell-count {
		font-size: 15px;
	}
	.searchbox-container {
		width: calc(100vw - 150px);
		height: 40px;
	}
	.flag-icon {
		width: 32px;
		height: 32px;
	}
	.search-box {
		font-size: 15px;
	}
	.right-wrapper {
		width: 110px;
		right: 5px;
	}
	.powered-by-text {
		display: none;
	}
	.powered-by-text-down {
		display: initial;
	}
}

@media all and (max-width: 501px) {
	.table {
		grid-gap: 5px;
	}
	.table-row {
		height: 50px;
		width: calc(100vw - 50px)
	}
	.flag-icon {
		top: 50%;
		left: 10px;
	}
	.data-wrapper-big {
		display: none;
	}
	.data-wrapper-small {
		display: initial;
		width: 100px !important;
		position: absolute;
		top: 50%;
		left: 60px;
		transform: translateY(-50%);
	}
	.table-cell-count {
		font-size: 8px;
	}
	.searchbox-container {
		width: calc(100vw - 50px);
		height: 40px;
	}
	.flag-icon {
		width: 32px;
		height: 32px;
	}
	.search-box {
		font-size: 15px;
		margin-top: 0;
	}
	.alphabetic-index {
		font-size: 12px;
	}
	.link-text {
		padding: 0 !important;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-size: 12px;
	}
	.title {
		font-size: 28px;
	}
}