{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% include 'base/head.html' %}

	<link rel="stylesheet" type="text/css" href='{% static "base/navbar.css" %}'>
	<link rel="stylesheet" type="text/css" href="{% static 'flight-tracker/main.css' %}">
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>
<body>
	{% include 'base/navbar.html' %}
	<div class='title-container'>
		<h1 class='title'>Flight Tracker    <span class='powered-by-text'>by FlightRadar24.com</span></h1>
		<br>
		<h4 class='powered-by-text-down'>by FlightRadar24.com</h4>
	</div>
	<div class='searchbox-container'>
		<i data-feather='search' class='search-box-icon'></i>
		<input type='text' class='search-box' placeholder='Search country'>
	</div>
	<div class='table'>
		{% for alpha, alpha_countries in countries.items %}
			<div class='table-row-index'>
				<a class='alphabetic-index'>{{ alpha }}</a>
			</div>
			{% for country in alpha_countries %}
			<div class='table-row'>
				<img src='{% static country.2 %}' class='flag-icon'>
				<div class='data-wrapper-big'>
					<div class='table-cell table-cell-name'>
						<a class='link-text' href='{% url "country" country=country.0 %}'>{{country.0}}</a>
					</div>
					<div class='right-wrapper'><span class='table-cell table-cell-count'>{{country.1}}</span></div>
				</div>
				<div class='data-wrapper-small'>
					<div class='link-wrapper'><a class='link-text' href='{% url "country" country=country.0 %}'>{{country.0}}</a></div>
					<span class='table-cell table-cell-count'>{{country.1}}</span>
				</div>
			</div>
			{% endfor %}
		{% endfor %}
	</div>
	<script type="text/javascript">
		feather.replace()
	</script>
</body>
</html>