{% load static %}
<!DOCTYPE html>
<html>
	<head>
		{% include 'base/head.html' %}
		<link rel="stylesheet" type="text/css" href='{% static "base/navbar.css" %}'>
		<link rel="stylesheet" type="text/css" href='{% static "stock-photos-explorer/main.css" %}'>
		<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	</head>
	<body>
		{% include 'base/navbar.html' %}
		<div class='header' style='background-image: url({{ image }})'>
			<h1 class='title'>Pixabay API Explorer</h1>
			<h2 class='pixabay-subtitle'>Explore over 2 million stunning images, totally free to download and use them</h2>
			<form class='searchbox-container'>
				<button class='search-btn'><i data-feather='search' class='search-box-icon'></i></button>
				<input type='text' class='search-box' placeholder='Search images, videos, and vectors' name='q' autocomplete="off">
			</form>
		</div>
		{% include 'base/loading.html' %}
		<div id='image'>
		</div>
		{% include 'base/footer.html' %}
		<script>
			function shuffle(arra1) {
			var ctr = arra1.length, temp, index;
				while (ctr > 0) {
					index = Math.floor(Math.random() * ctr);
					ctr--;
					temp = arra1[ctr];
					arra1[ctr] = arra1[index];
					arra1[index] = temp;
				}
				return arra1;
			}

			$(document).ready(function() {
				feather.replace()
				var api_key = Object.fromEntries(Array.from(document.cookie.split(';'), (i) => i.split('='))).api
				url = 'https://pixabay.com/api/'
				$.ajax({
					url: url,
					method: 'GET',
					data: {
						key: api_key,
						per_page: 50,
						max_height: $(window).height()/2
					},
					success: function(data) {
						images = shuffle(data.hits)
						container = '<ul class="image-container">'
						for (i of images) {
							container+=`<li><img src="${i.webformatURL}"></li>`
						}
						$('#image').append(container+'</ul>')
						$('.loading-container').remove()
					}
				})
			})
		</script>
	</body>
</html>