@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@200;300;400;500;600&family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600&display=swap');

html, body {
	background: #141414;
	overflow: hidden;
	width: 100%;
	height: -webkit-fill-available;
	margin: 0;
	padding: 0;
}

main {
	min-height: 100vh;
	padding-top: 8em
}

h1 {
	font-family: "Poppins";
	color: white;
	font-size: 3em;
	text-align: center;
}

.title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1em
}

.title-seperator {
	background: #ffc800;
	width: 40px;
	height: 5px;
	border-radius: 5px;
}

.title-container p {
	color: white;
	margin-top: 1.2em;
	font-family: 'Baloo Tammudu 2', cursive;
	font-size: 1.3em;
	max-width: 35%;
	text-align: center;
}

.projects-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-auto-rows: 1fr;
	padding: 2em 6em;
	grid-gap: 1em

}

.project-card {
	box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.5);
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative
}

.project-card img {
	margin: 2em 0
}

.project-card h2 {
	color: white;
	font-family: 'Poppins';
	font-size: 1.5em;
	font-weight: 500;
	text-align: center
}

.project-card .project-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start
}

.project-card .project-meta {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center
}

.project-card .cat-name {
	color: #ffc800;
	font-family: "Poppins";
	font-size: 1em;
	font-weight: 500;
	text-align: center
}

.project-card .description {
	color: rgb(219, 219, 219);
	padding: 0 2em;
	margin-bottom: 1em;
	line-height: 125%;
	font-family: 'Baloo Tammudu 2', cursive;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	text-overflow:ellipsis;
	overflow: hidden;
	display: -webkit-box !important;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	white-space: normal
}

.project-card .meta {
	color: white;
	margin-right: 1em;
	font-family: 'Consolas', cursive;
	font-size: 1em;
	font-weight: 400;
	display: flex;
	align-items: center
}

.project-card .meta span {
	width: .8em;
	height: .8em;
	display: block;
	border-radius: .8em;
	margin-right: .5em
}

.project-card .repo-link {
	display: flex;
	align-items: center;
	justify-content: center
}

.rank-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 6rem
}

.project-card.place {
	max-width: 300px;
}

.project-card.place:not(.first-place) {
}

.project-card.first-place {
	background: #ffc800;
	overflow: hidden
}

.project-card.first-place * {
	color: #141414;
}

.project-card.first-place .project-title {
	margin-top: 2.4em
}

.project-card.first-place .description {
	margin-top: 1em
}

.first-place-banner {
	position: absolute;
	transform: rotate(45deg) translateY(-100%) translateX(30%);
	box-shadow: 0px 0px 4px #000000;
	font-family: "Poppins";
	font-size: 1.5em;
	background: #141414;
	color: #ffc800 !important;
	font-weight: 600;
	padding: .2em 0;
	width: 100%;
	text-align: center;
	right: 0;
	top: 0
}

.filter-container {
	padding: 0 3em;
	margin: 2em 0
}

.filter-container h2 {
	color: white;
	font-family: 'Poppins';
	margin-bottom: 1em;
	font-size: 1.4em
}

.filter-container div {
	display: flex;
	flex-wrap: wrap;
}

.filter-container a {
	color: #ffc800 !important;
	font-family: "Baloo Tammudu 2";
	border: 2px solid #ffc800;
	padding: 0 2em;
	padding-top: .5em;
	border-radius: 40px;
	margin-right: .5em;
	margin-bottom: .6em;
	text-decoration: none;
	cursor: pointer
}

.filter-container a.selected {
	background: #ffc800;
	color: #141414 !important
}