{% block navbar %}
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<nav class='cb-nav {{ theme }} fixed-top'>
		<div class='navbrand-wrapper'>
			<button class='collapse-btn'><span class='collapse-icon' data-feather='menu'></span></button>
			<a class='navbar-brand' href="{% url 'home' %}">&#60;/&#62; CODEBLOG</a>
		</div>
		<ul class="nav homenav-item-container">
			<li>
			<a href="{% url 'home' %}" class='homenav-item active'>HOME</a>
			</li>
			<li>
			<a href="#" class='homenav-item'>SHARE</a>
			</li>
			<li>
			<a href="{% url 'ideas' %}" class='homenav-item'>IDEAS</a>
			</li>
			<li>
			<a href="{% url 'projects-index' %}" class='homenav-item'>PROJECTS</a>
			</li>
			<li>
			<a href='#' class='homenav-item'>ABOUT</a>
			</li>
		</ul>
		<a href='{% url "login" %}' class='login-link'>SIGN IN</a>
	</nav>
	
{% endblock %}

	<script src="https://unpkg.com/feather-icons"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script type="text/javascript">
		var is_collapse = true;
		$(window).scroll(function() {
			if($(this).scrollTop() > 100) {
				$('.cb-nav').addClass('non-alpha');
				$('.navbar-brand').addClass('non-alpha');
				$('.login-link').addClass('non-alpha');
				$('.homenav-item').addClass('non-alpha');
				$('.nav-signup-btn').addClass('non-alpha');
				$('.homenav-item-container').addClass('non-alpha');
				$('.navbar-right, .collapse-icon').addClass('non-alpha');
			} else {
				$('.cb-nav').removeClass('non-alpha');
				$('.navbar-brand').removeClass('non-alpha');
				$('.login-link').removeClass('non-alpha');
				$('.homenav-item').removeClass('non-alpha');
				$('.nav-signup-btn').removeClass('non-alpha');
				$('.homenav-item-container').removeClass('non-alpha');
				$('.navbar-right, .collapse-icon').removeClass('non-alpha');
			}
		});
		$('.collapse-btn').click(function(){
			$('.cb-nav, .collapse-icon, .navbar-brand, .homenav-item-container').toggleClass('nav-expand');
			$('.homenav-item-container').children('li').children().toggleClass('nav-expand')
		})
		feather.replace()
	</script>