@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&family=Lato&family=Montserrat&display=swap');

body {
	background: #3AAFA9;
    overflow: none;
    text-align: center;
}

.title {
	font-family: 'Montserrat';
	margin-top: 180px;
	color: white;
}

.search-box-icon {
	color: white;
	margin-top: -3px;
}

.searchbox-container {
	border: 2px solid white;
	width: 50vw;
	margin: 50px auto;
	text-align: left;
	padding: 0 0 5px 20px;
	border-radius: 50px;
}

.search-box {
	outline-style: none;
	outline: none;
	border: none;
	height: 40px;
	width: auto;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 10px;
	margin-left: 10px;
	font-size: 20px;
	position: relative;
	top: 2px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	color: white;
}

/* all */
::-webkit-input-placeholder { /* Webkit */
   color: #FFFFFF;
}

:-moz-placeholder { /* Firefox 18-4 */
   color: #FFFFFF;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #FFFFFF;
}

:-ms-input-placeholder {  /*  IE10+  */
   color: #FFFFFF;
}

.table {
	display: grid;
	grid-gap: 10px;
	justify-content: center;
	margin: 50px 0;
}

.table-row {
	background-color: white;
	height: 80px;
	font-family: 'Montserrat';
	border-radius: 5px;
	width: calc(80vw - 200px);
	text-align: left;
	position: relative;
}

.data-wrapper {
	height: 80px;
}

.table-cell {
	font-size: 20px;
	padding: 0px !important;
}

.table-cell-name {
	color: black;
	text-decoration: none;
	transition: 0.2s;
	position: absolute;
	top: 50%;
	left: 90px;
	transform: translateY(-50%);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: calc(70% - 150px);
}

.table-cell-name:hover {
	color: #2b7a78;
}

.table-cell-count {
	white-space: nowrap;
	overflow: hidden;
}

.right-wrapper {
	position: absolute;
	top: 50%;
	right: 10px;
	width: 140px;
	transform: translateY(-50%)
}

.flag-icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 20px;
}

.table-row-index {
	height: 80px;
	font-family: 'Montserrat';
	width: 50vw;
	text-align: left;
	position: relative;
}

.alphabetic-index {
	position: absolute;
	left: 20px;
	top: 80%;
	transform: translateY(-50%);
	color: white;
	text-decoration: none;
	font-weight: 600;
}

@media all and (max-width: 951px) {
	.table-row {
		width: calc(100vw - 150px)
	}
}

@media all and (max-width: 701px) {
	.table {
		grid-gap: 5px;
	}
	.table-row {
		height: 50px;
		width: calc(100vw - 150px)
	}
	.flag-icon {
		top: 50%;
		left: 10px;
	}
	.data-wrapper {
		width: 35vw;
		height: 50px;
	}
	.table-cell-name {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-size: 15px;
		position: absolute;
		top: 50%;
		left: 60px;
		transform: translateY(-50%);
		width: 200px;
	}
	.table-cell-count {
		font-size: 15px;
	}
	.searchbox-container {
		width: 80vw;
		height: 40px;
	}
	.flag-icon {
		width: 32px;
		height: 32px;
	}
	.search-box {
		font-size: 15px;
		margin-top: 0;
	}
	.right-wrapper {
		width: 110px;
		right: 5px;
	}
}

@media all and (max-width: 400px) {
	.search-box {
		width: 80%;
	}
}