html, body {
	width: 100%;
	height: 100%;
	background: #f6f5f7
}

.main-container {
	margin: 0 auto;
	margin-top: 23vh;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-column-gap: 30px;
	justify-content: center;
	justify-items: center;
	justify-self: center;
	align-items: center;
	align-content: center;
	align-self: center;
}

.container-item {
	background: white;
	height: 350px;
	width: 220px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #DDDDDD;
	padding: 0 30px;
	position: relative
}

.library-name {
	font-family: 'Poppins';
	font-size: 1.2rem;
	font-weight: 400;
	color: rgb(20, 20, 20)
}

.title {
	font-family: 'Roboto';
	font-weight: 600;
	padding: 0 10px;
	font-size: 40px;
}

.title span {
	font-size: 16px;
	font-weight: 300
}

.subtitle {
	margin: 0 auto;
	margin-bottom: 50px;
	font-family: 'Poppins';
	font-weight: 400;
	color: #535353;
	width: 80%;
	padding: 0 10px;
	font-size: 18px;
	line-height: 25px

}

.main-container-wrapper {
	display: grid;
	height: 100%
}

.container-item img {
	height: 60px;
	margin: 0 auto;
	text-align: center
}

.container-item span {
	text-align: center;
	display: block;
	padding: 50px 0
}

.library-desc {
	font-family: 'Poppins';
	font-weight: 300;
	text-align: justify;
}

.cover-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}

.bfctn-subtitle {
	width: 80vw;
	font-weight: 300;
	margin-left: 0;
	margin-right: 0
}

.link-to-doc {
	color: rgb(20, 20, 20);
}

.api-form {
	margin: 0 auto;
	display: flex;
	align-items: center;
	position: relative
}

.key-input {
	font-family: 'Roboto';
	text-align: left;
	padding: 18px 30px;
	font-size: 20px;
	font-weight: 300;
	border: none;
	background: white;
	border-radius: 40px;
	width: 100%;
	float: left;
	box-shadow: 2px 2px 4px rgb(180, 180, 180)
}

.key-input:focus, .key-input:active, .proceed-button:focus, .proceed-button:active {
	outline: none
}

.api-form * {
	margin: 0 auto;
}

.proceed-button {
	font-family: 'Poppins';
	color: white;
	background: rgb(20, 20, 20);
	font-size: 20px;
	border-radius: 100px;
	border: 0;
	font-weight: 500;
	width: 100px;
	height: 50px;
	padding: 0;
	display: flex;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 8px;
	justify-content: center;
	align-items: center;
	cursor: pointer
}

.header {
	width: 100%;
	height: 70vh; 
	color: white !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-blend-mode: darken;
	background-color: rgb(0, 0, 0, 0.4);
}

.title, .pixabay-subtitle {
	font-family: 'Poppins' !important;
}

.main-title {
	margin: 0 auto;
	width: 81%
}

.title {
	font-weight: 600;
	font-size: 2.6rem
}

.pixabay-subtitle {
	font-weight: 300;
	margin-bottom: 30px;
	font-size: 1.1rem;
	margin-top: 8px
}

.search-box-icon {
	color: rgb(110, 110, 110);
	width: 22px;
	height: 22px;
	margin-top: 3px
}

.search-btn {
	background: none;
	border: none;
	cursor: pointer;
}

.search-btn:focus, .search-btn:active {
	outline: none
}

.searchbox-container {
	border: 2px solid white;
	width: 50%;
	margin: 0 auto;
	text-align: left;
	border-radius: 50px;
	background: white;
	display: grid;
	align-items: center;
	grid-template-columns: 10% 80% 10%;
	box-shadow: 2px 2px 4px rgb(85, 85, 85);
	grid-area: search
}

.search-result .searchbox-container {
	margin: 0;
	height: 56px;
	width: 100%;
	box-shadow: 1px 1px 2px rgb(136, 136, 136)
}

.search-box {
	outline-style: none;
	outline: none;
	border: none;
	height: 50px;
	width: 80%;
	background-color: white;
	border-radius: 10px;
	margin-left: 15px;
	font-size: 18px;
	position: relative;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: rgb(20, 20, 20);
}

.search-result .search-box {
	margin-left: 0
}

/* all */
::-webkit-input-placeholder { /* Webkit */
	color: rgb(110, 110, 110);
}

:-moz-placeholder { /* Firefox 18-4 */
	color: rgb(110, 110, 110);
}

::-moz-placeholder {  /* Firefox 19+ */
	color: rgb(110, 110, 110);
}

:-ms-input-placeholder {  /*  IE10+  */
	color: rgb(110, 110, 110);
}

#image {
	margin-top: 50px;
}

.image-container {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 50px;
	margin-bottom: 0;
	background: #f6f5f7;
}

.image-container li {
	height: 250px;
	flex-grow: 1;
	margin: 5px;
	flex-shrink: 1;
	background: rgb(240, 240, 240);
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.image-container li:last-child {
	flex-grow: 0;
}

.image-container img {
	max-height: 100%;
	min-width: 100%;
	max-width: 100%;
	object-fit: cover;
	vertical-align: bottom;
}

.search-result .image-container {
	margin-top: 40px
}

.search-result-header {
	margin-top: 0px;
	padding: 0 55px;
	font-family: 'Poppins';
	width: calc(100% - 110px);
	display: grid;
	align-items: center;
	grid: 
		'title search search'
		'filter . .';
	padding-top: 140px
}

.search-result-title {
	width: 100%;
	grid-area: title
}

.search-result-title h1 {
	margin: 0;
	font-weight: 400;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.search-result-title h2 {
	margin: 0;
	font-weight: 300;
	color:rgb(85, 85, 85);
	font-size: 1.2rem
}

.no-result {
	font-weight: 400;
	font-size: 1.8rem;
	color: rgb(146, 146, 146);
	font-family: 'Poppins';
	margin-top: 120px;
	margin-bottom: 0
}

.back-to-home {
	font-weight: 400;
	font-size: 1.2rem;
	color: rgb(80, 80, 80);
	font-family: 'Poppins';
	margin-top: 0;
	text-decoration: none;
	transition: 0.3s
}

.back-to-home:hover {
	color:rgb(20, 20, 20)
}

.filter-container {
	display: grid;
	padding: 0px 50px;
	grid: 
		'type category'
		'orientation category'
		'color category'
		'size category';
	grid-column-gap: 60px;
	grid-area: filter;
	background: white;
	border-radius: 10px;
	position: absolute;
	top: 220px;
	right: 65px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	height: 0;
	overflow: hidden;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.filter-container.show {
	animation: slidedown 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
	animation-fill-mode: forwards
}

.filter-container h4 {
	font-weight: 400;
	font-family: 'Poppins';
	font-size: 1.2rem;
	margin-bottom: 10px;
	color: rgb(20, 20, 20);
}

.filter-container a {
	display: block;
	color:rgb(110, 110, 110);
	font-weight: 300;
	font-size: 1rem
}

#filter-button {
	width: auto;
	display: block;
	text-align: center;
	margin-top: 3px
}

@keyframes slidedown {
	0% {
		padding: 0 50px;
		height: 0
	}
	100% {
		padding: 10px 50px;
		height: 590px
	}
}

@keyframes slideup {
	100% {
		padding: 0 50px;
		height: 0
	}
	0% {
		padding: 10px 50px;
		height: 590px
	}
}

.filter-container.hide {
	animation: slideup 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
	animation-fill-mode: forwards
}

@media (max-aspect-ratio: 1/1) {
	.image-container li {
		height: 30vh;
	}
}
  
  @media (max-height: 480px) {
	.image-container li {
		height: 80vh;
	}
}
  
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
	.image-container {
		flex-direction: row;
		padding: 50px 3%
	}

	.image-container li {
		height: auto;
		width: 100%;
	}
	.image-container img {
		width: 100%;
		max-height: 75vh;
		min-width: 0;
	}
}

@media all and (max-width: 1024px) {
	.title {
		font-size: 4vw
	}
	.bfctn-subtitle {
		font-size: 1.8vw
	}
	.api-form {
		width: 90vw;
	}

	.key-input {
		margin: 0
	}
}

@media all and (max-width: 800px) {
	.bfctn-subtitle {
		font-size: 2vw;
		line-height: 25px
	}
}

@media all and (max-width: 700px) {
	.bfctn-subtitle {
		font-size: 2vw;
		line-height: 20px
	}
	.key-input {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 2.4vw
	}
	.proceed-button {
		height: 24px;
		font-size: 2vw;
		width: 15vw
	}
	.grid-container {
		grid-template-columns: auto;
		grid-row-gap: 20px
	}
	.container-item {
		width: 70%;
		height: auto;
		padding: 30px 50px
	}
	.main-title {
		font-size: 5vw
	}
}

@media all and (max-width: 600px) {
	.bfctn-subtitle {
		font-size: 2.4vw;
		line-height: 20px
	}
	.key-input {
		padding-left: 20px;
		padding-right: 20px;
		font-size: 2.4vw
	}
	.title {
		font-size: 6vw
	}
	.title span {
		font-size: 2vw
	}
}

@media all and (max-width: 500px) {
	.bfctn-subtitle {
		font-size: 2.6vw;
		line-height: 18px
	}
	.proceed-button {
		right: 6px
	}
	.pixabay-title {
		font-size: 8vw
	}
	.container-item {
		width: 60%;
	}
	.main-title {
		font-size: 7vw
	}
	.main-subtitle {
		font-size: 4vw
	}
}

@media all and (max-width: 400px) {
	.bfctn-subtitle {
		line-height: 17px
	}
	.main-subtitle {
		line-height: 20px
	}
}

.loading-container {
	margin: 100px 0
}