@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Jura:wght@600&family=Lato&family=Montserrat&display=swap');

body {
	background: #3AAFA9;
    overflow: none;
    text-align: center;
}

.title {
	font-family: 'Roboto';
	margin-top: 180px;
	color: white;
	font-weight: 400
}

.wrapper{
  text-align:center;
  margin-top: 100px;
}

.tabs{
  margin-top:50px;
  font-size:15px;
  padding:0px;
  list-style:none;
  background:#fff;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:5px;
  position:relative;
  font-family: 'Roboto';
  font-weight: 500
}

.tabs a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  padding:10px 30px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
  height: 40px;
}

.tabs a.active{
  color:#fff;
}

.tabs a i{
  margin-right:5px;
}

.tabs .selector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:5px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: #2b7a78;
}

.nav-container {
	padding: 0 5px;
	float: left;
}

.nav-text {
	padding-top: 2px;
}

.content-container {
  margin: 40px 0;
}

.info-card-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  margin-top: 30px;
}

.info-card {
	background: white;
	width: 300px;
	height: auto;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #2b7a78
}

.info-title {
  font-size: 40px;
  font-family: 'Poppins';
  color: white;
}

.info-section {
  margin: 30px;
}

.info-card-title{
  font-family: "Montserrat";
  font-size: 20px;
}

.info-card-main{
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 500
}

.info-card-second {
  font-family: "Montserrat";
  font-size: 18px;
}

.image-card {
  width: 940px;
  grid-column: 1 / span 3;
  position: relative;
}

.airport-image {
  width: 100%;
  height: 40em;
  border-radius: 5px;
}

.arrival-table {
  background: white;
  margin: 0 auto;
  padding: 20px
}

.arrival-table tr td {
  padding: 10px 20px;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 15px;
  border-bottom: 1px solid #DDDDDD
}

.arrival-table-container {
  background: white;
  padding: 0 10px;
  border-radius: 5px;
}

.status-indicator {
  width:  15px;
  height: 15px;
  border-radius: 50%;
}

.status-indicator.red {
  background: rgb(255, 108, 108)
}

.status-indicator.yellow {
  background: rgb(255, 230, 90)
}

.status-indicator.green {
  background: rgb(78, 251, 121)
}

.status-indicator.gray {
  background: rgb(184, 184, 184)
}

.load-btn {
  border: none;
  border-radius: 5px;
  color: white;
  background:  #2b7a78;
  padding: 10px 0;
  width: 100%;
  margin-top: 10px;
  font-family: "Poppins";
  letter-spacing: 3px;
  font-weight: 500
}

.load-btn-wrapper {
  height: 50px
}

.main-wrapper {
  display: inline-block;
}

.reviews-container {
  display: inline-block;
  width: 70%;
}

.review-container  {
  background: white;
  margin: 20px;
  border-radius: 10px;
  height: auto;
  text-align: left;
  display: grid;
  grid-template-columns: 90px 480px auto;
  grid-template-rows: 45px 45px auto;
  position: relative;
}

.review-title {
  font-family: 'Poppins';
  font-size: 20px;
  display: flex;
  align-items: flex-end;
}

.review-image {
  width: 50px;
  height: 50px;
  margin: 16px 25px;
  border-radius: 50px;
  grid-row: 1 / 3;
}

.review-image.default {
  stroke-width: 1px;
  background:rgb(138, 138, 138);
  color: white;
  fill: white;
  padding: 10px
}

.review-rating {
  grid-row: 2
}

.rating-star {
  width: 15px;
  height: 15px;
  margin-right: 3px;
  fill: none;
}

.rating-star.full {
  fill: currentColor
}

.review-content {
  grid-row: 3;
  grid-column: 1 / 3;
  font-family: 'Poppins';
  font-size: 15px;
  margin: 0 0 25px 25px;
  font-weight: 300
}

.rating-bar {
  background: rgb(184, 184, 184);
  width: 200px;
  height: 10px;
  border-radius: 8px;
}

.subratings-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: 50px;
  grid-column: 3;
  grid-row: 1/4;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  position: relative;
  margin: 50px 0;
}

.subrating-container {
  margin: 5px 10px;
  height: 30px
}

.rating-bar-count {
  height: 10px;
  border-radius: 8px;
  background:  #2b7a78
}

.subrating-header {
  font-family: 'Poppins';
  margin-bottom: 3px;
  font-size: 12px;
}

.subrating-star-count {
}

.subrating-star {
  width: 15px;
  height: 15px;
  padding-left: 3px;
  margin-top: -2px;
  fill: currentColor
}