@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&family=Lato:wght@500;700&family=Roboto:wght@300;500;700&Montserrat:wght@600&display=swap');

html {
	height: 200%;
}

body {
	background: #3AAFA9;
	height:auto;
	-ms-overflow-style: none;
  	scrollbar-width: none;
  	align-items: center;
}

body::-webkit-scrollbar {
  display: none;
}

.feather {
  width: 48px;
  height: 48px;
  stroke: currentColor;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.join-btn {
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-decoration: none;
	border: 2px;
	border-style: solid;
	padding: 20px 30px;
	border-radius: 10px;
	transition: 0.3s;
	font-size: 2vw;
	font-weight: 600;
}

.join-btn:hover {
	background: white;
	color: #151515;
}

.welcome-text {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 2vw;
	text-align: center;
	padding-bottom: 10px;
	font-weight: 300;
	position: relative;
}

.homepage-banner {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 6vw;
	text-align: center;
	font-weight: 500;
	width: 100%;
}

.more-intro {
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	margin-bottom: 60px;
}

.get-ready {
	font-size: 3vw;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	color: white;
	margin-top: 10px;
	padding-bottom: 60px;
}

.intro-list-wrapper {
	position: absolute;
	left: 50%;
	top: 125%;
	transform: translateX(-50%);
}

.intro-list-item {
	color: #2b7a78;
	border-radius: 10px;
	background: white;
	box-shadow: 5px 5px 5px #2b7a78
}

.intro-list {
	display: grid;
  	justify-content: center;
  	list-style: none;
  	padding-left: 0;
  	margin-bottom: 10em;
  	grid-template-columns: auto auto auto;
  	grid-gap: 30px;
}


.intro-list-item-container {
	width: 25vw;
	height: auto;
	text-align: center;
	padding-top: 45px;
}

.intro-list-item-title {
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	margin-top: 10px;
	font-weight: 300;
}

.intro-list-item-desc {
	margin-left: 40px;
	margin-right: 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	padding-bottom: 40px
}

.homepage-top-container {
	top: 50%;
	text-align: center;
	width: 100%;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
}

@media all and (max-width: 671px) {
	.welcome-text {
		font-size: 4vw !important;
	}

	.homepage-banner {
		font-size: 10vw !important;
	}

	.get-ready {
		font-size: 5vw !important;
	}
}

@media all and (max-width: 950px) {
	.welcome-text {
		font-size: 4vw !important;
	}

	.homepage-banner {
		font-size: 10vw !important;
	}

	.get-ready {
		font-size: 5vw !important;
	}
}

@media only screen and (max-width : 861px) {
	.intro-list {
		display: block;
	  	justify-content: center;
	  	list-style: none;
	  	padding-left: 0;
	  	padding-top: 3em;
	}
	.intro-list-item {
		border-radius: 10px;
		margin: 5vw;
		margin-top: 3em;
	}
	.intro-list-item-container {
		width:90vw;
		height: auto;
		text-align: center;
		padding-top: 45px;
	}

	.intro-list-item-title {
		font-size: 40px;
		margin-top: 10px;
	}

	.intro-list-item-desc {
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 40px
	}
}

.godown-btn {
	color: white;
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
	transition: 0.2s;
}

.godown-btn:hover {
	color: #999999;
}