{% load static %}

<!doctype html>
<html>
<head>
	{% include 'base/head.html' %}
	<link rel="stylesheet" type="text/css" href='{% static "base/navbar.css" %}'>
	<link rel="stylesheet" type="text/css" href="{% static 'covid19stat/main.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.0/css/perfect-scrollbar.min.css">
	<script src="https://d3js.org/d3.v6.min.js"></script>
	<script type="text/javascript" src='https://cdn.jsdelivr.net/npm/underscore@1.12.0/underscore-min.js'></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.0/perfect-scrollbar.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>
<body>
	{% include 'base/navbar.html' %}
	<main>
		{% include 'base/loading.html' %}
	</main>
	{% include 'base/footer.html' %}
	<script>
		$.ajax({
			url: './',
			headers: {
				'X-CSRFToken': '{{ csrf_token }}'
			},
			method: 'POST',
			success: function(data){
				raw = JSON.parse(data)
				$('.loading-container').remove()
				$('main').append(`
					<h1>Covid 19 Statistic <span>by worldometers.info</span></h1>
					<div class='center-container'>
						<div class='overview-card' id='recovered'>
							<div class='number'>${raw.table[0][2]}</div>
							<div class='title'>Total Recovered</div>
						</div>
						<div class='overview-card' id='total'>
							<div class='number'>${raw.table[0][0]}</div>
							<div class='title'>Total Cases</div>
						</div>
						<div class='overview-card' id='death'>
							<div class='number'>${raw.table[0][1]}</div>
							<div class='title'>Total Death</div>
						</div>
					</div>
					<div class='table-container-wrapper'>
						<div class='table-wrapper'>
							<div class='table-container' id='main-table'>
								<div id="result-table" class='scroll-table' style="width:100%;">
									
								</div>
							</div>
						</div>
					</div>
				`)
				var id = ['total', 'recovered', 'death']

				for (i=0; i<id.length; i++){
					var margin = {top: 0, right: 0, bottom: 10, left: 0}, width = 200 - margin.left - margin.right, height = 100 - margin.top - margin.bottom;
					var x = d3.scaleTime().range([0, width]);
					var y = d3.scaleLinear().range([height, 0]);
					var valueline = d3.line().x(function(d) { return x(d[0]); }).y(function(d) { return y(d[1]); });
					var svg = d3.select("#"+id[i]).append("svg").attr("width", width + margin.left + margin.right).attr("height", height + margin.top + margin.bottom).style("margin-top", '50px').append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");
					var valueline = d3.line().x(function(d) { return x(d[0]); }).y(function(d) { return y(d[1]); });
					var data = _.zip(_.range(eval(raw.graph[i]).length), eval(raw.graph[i]))
					x.domain(d3.extent(data, function(d) { return d[0]; }));
					y.domain([0, d3.max(data, function(d) { return d[1]; })]);
					svg.append("path").data([data]).attr("class", "line").attr("d", valueline);
				}
				table = $('.scroll-table')
				table.append(`
					<div>#</div>
					<div>Country, Other</div>
					<div>Total Cases</div>
					<div>New Cases</div>
					<div>Total Deaths</div>
					<div>New Deaths</div>
					<div>Total Recovered</div>
					<div>New Recovered</div>
					<div>Active Cases</div>
					<div>Serious, Critical</div>
					<div>Tot&nbsp; Cases/1M pop</div>
					<div>Deaths/1M pop</div>
					<div>Total Tests</div>
					<div>Tests/1M pop</div>
					<div>Population</div>
					<div>Continent</div>
					<div>1 Case every X ppl</div>
					<div>1 Death every X ppl</div>
					<div>1 Test every X ppl</div>
					<div>New Cases/1M pop</div>
					<div>New Deaths/1M pop</div>
					<div>Active Cases/1M pop</div>
				`)
				for (row of raw.table[1]) {
					for (cell of row) {
						table.append(`<div>${cell||''}</div>`)
					}
				}
				
				$('#result-table > div').slice(0, 22).css({
					'background-color': 'rgb(20, 20, 20)',
					'padding': '25px',
					'font-weight': '400',
					'white-space': 'nowrap',
					'color': 'white',
					'text-align': 'left',
					'vertical-align': 'bottom',
					'font-family': 'Poppins',
					'font-weight': '500',
					'font-size': '15px',
					'text-transform': 'uppercase',
					'margin-left': '-5px',
				})

				new PerfectScrollbar('.table-container')
			}
		})
	</script>
</body>
</html>