@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&family=Lato:wght@500;700&family=Roboto:wght@300;500;700&Montserrat:wght@600&display=swap');

html {
	height: auto;
}

body {
	background: #3AAFA9;
	height:auto;
	-ms-overflow-style: none;
  	scrollbar-width: none;
  	align-items: center;
}

body::-webkit-scrollbar {
  display: none;
}

.feather {
  width: 48px;
  height: 48px;
  stroke: currentColor;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.join-btn {
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-decoration: none;
	border: 2px;
	border-style: solid;
	padding: 20px 30px;
	border-radius: 10px;
	transition: 0.3s;
	font-size: 2vw;
	font-weight: 600;
}

.join-btn:hover {
	background: white;
	color: #151515;
}

.welcome-text {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 3vw;
	text-align: center;
	padding-bottom: 10px;
	font-weight: 300;
	width: 100vw;
	margin-left: -50vw;
	margin-right: -50vw;
	left: 50%;
	right: 50%;
	position: relative;
}

.homepage-banner {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 8vw;
	text-align: center;
	font-weight: 500;
	width: 100vw;
	padding-bottom: 10px;
}

.get-ready {
	font-size: 30px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	color: white;
	margin-top: 10px;
	padding-bottom: 60px;
}

.intro-list-item {
	color: white;
	border: 2px solid white;
	border-radius: 10px;
	margin: 3vw;
	margin-top: 16em;
}

.intro-list {
	display: flex;
  	justify-content: center;
  	list-style: none;
  	padding-left: 0;
  	margin-bottom: 10em;
}


.intro-list-item-container {
	width: 25vw;
	height: auto;
	text-align: center;
	padding-top: 45px;
}

.intro-list-item-title {
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	margin-top: 10px;
	font-weight: 300;
}

.intro-list-item-desc {
	margin-left: 40px;
	margin-right: 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	margin-bottom: 40px
}

@media only screen and (min-width : 0px) {
    .homepage-top-container {
		margin-top: 250px;
		text-align: center;
		width: 100vw;
	}
	.homepage-banner {
		font-size: 10vw;
		margin-left: -50vw;
  		margin-right: -50vw;
  		left: 50%;
  		right: 50%;
  		position: relative;
	}
	.join-btn {
		font-size: 3vw;
	}
	.intro-list {
		display: block;
	  	justify-content: center;
	  	list-style: none;
	  	padding-left: 0;
	  	margin-top: 23em;
	}
	.intro-list-item {
		color: white;
		border: 2px solid white;
		border-radius: 10px;
		margin: 5vw;
		margin-top: 5em;
	}
	.intro-list-item-container {
		width:90vw;
		height: auto;
		text-align: center;
		padding-top: 45px;
	}

	.intro-list-item-title {
		font-size: 40px;
		font-family: 'Poppins', sans-serif;
		margin-top: 10px;
		font-weight: 300;
	}

	.intro-list-item-desc {
		margin-left: 40px;
		margin-right: 40px;
		font-family: 'Poppins', sans-serif;
		font-weight: 200;
		margin-bottom: 40px
	}
	.code-icon {
		font-size: 10vw;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .homepage-top-container {
		margin-top: 250px;
		text-align: center;
		width: 100vw;
	}
	.homepage-banner {
		font-size: 10vw;
		width: 100vw;
		margin-left: -50vw;
  		margin-right: -50vw;
  		left: 50%;
  		right: 50%;
  		position: relative;
	}
	.code-icon {
		font-size: 10vw;
	}
	.join-btn {
		font-size: 3vw;
	}
	.intro-list {
		display: block;
	  	justify-content: center;
	  	list-style: none;
	  	padding-left: 0;
	  	margin-top: 25em;
	}
	.intro-list-item {
		color: white;
		border: 2px solid white;
		border-radius: 10px;
		margin: 5vw;
		margin-top: 5em;
	}
	.intro-list-item-container {
		width:85vw;
		height: auto;
		text-align: center;
		padding-top: 45px;
	}

	.intro-list-item-title {
		font-size: 40px;
		font-family: 'Poppins', sans-serif;
		margin-top: 10px;
		font-weight: 300;
	}

	.intro-list-item-desc {
		margin-left: 40px;
		margin-right: 40px;
		font-family: 'Poppins', sans-serif;
		font-weight: 200;
		margin-bottom: 40px
	}
	body {
		height: auto;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.homepage-top-container {
		margin-top: 290px;
		text-align: center;
		width: 100vw;
	}
	.join-btn {
		font-size: 2.5vw;
	}
	.homepage-banner {
		font-size: 10vw;
		width: 100vw;
	}
	.code-icon {
		font-size: 10vw;
	}
	.intro-list-item {
		color: white;
		border: 2px solid white;
		border-radius: 10px;
		margin: 3vw;
		margin-top: 2em;
	}

	.intro-list {
		display: flex;
	  	justify-content: center;
	  	list-style: none;
	  	padding-left: 0;
	}


	.intro-list-item-container {
		width: 25vw;
		height: auto;
		text-align: center;
		padding-top: 45px;
	}

	.intro-list-item-title {
		font-size: 40px;
		font-family: 'Poppins', sans-serif;
		margin-top: 10px;
		font-weight: 300;
	}

	.intro-list-item-desc {
		margin-left: 40px;
		margin-right: 40px;
		font-family: 'Poppins', sans-serif;
		font-weight: 200;
		margin-bottom: 40px
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.homepage-top-container {
		margin-top: 280px;
		text-align: center;
		width: 100vw;
	}
	.join-btn {
		font-size: 2vw;
	}
	.homepage-banner {
		font-size: 5vw;
	}
}

@media only screen and (min-width : 2560px) {
	.homepage-top-container {
		margin-top: 330px;
		text-align: center;
		width: 100vw;
	}
	.join-btn {
		padding: 40px 60px;
	}
}

.godown-btn {
	color: white;
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
	transition: 0.2s;
}

.godown-btn:hover {
	color: #999999;
}